ecshop/nbproject
ecshop/temp
xkshop/cache
xkshop/Runtime
xkshop/NetBeansProjects
xkshop/Examples
xkshop/nbproject/
xkshop/.buildpath
xkshop/.project
xkshop/.settings/
xkshop/Conf/config.php
xkshop/.cache/

