@charset "utf-8";
/* CSS Document */

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
body,td,th {
	font-family: "宋体";
	font-size: 12px;
	font-weight: normal;
}
a	{
	font-family: "宋体";
	font-size: 12px;
	color: #333333;
	text-decoration: none;
	}
.leftmenu	{
	font-family: "宋体";
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	}
.centerbg {
	background-repeat: repeat-y;
	background-position: right;
}
.input {
	background-color: #FFFFFF;
	border: 1px solid #658199;
	height: 16px;
	width: 104px;
}
.top {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #E2EAF1;
}
.ucenter_menu { width: 65px; text-align: center; }
.ucenter_menu a:link,.ucenter_menu a:active,.ucenter_menu a:visited{
	color: black; width: 65px; height: 24px; line-height: 24px; background: url('topmenu.gif');
}
.ucenter_menu a:hover{
	font-weight: bold; color: black; width: 65px; height: 24px; line-height: 24px; background: url('topmenu.gif');
}